<h1 style="text-align:center">
  {{ title }}
</h1>

<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="tobuyProduct" routerLinkActive="active">Produkty</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="purchasedProduct">Kupione</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="!authService.user" routerLink="login" routerLinkActive="active">Zaloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="authService.user" (click)="logout()">Wyloguj</a>
  </li>
</ul>

<router-outlet></router-outlet>
